<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>,
          <%= pluralize(@user.comments.count, 'comment') %>
        </small>
      </div>
    </div>
  </div>
</div>

<% if user_has_posts? %> 
  <h2>Posts</h2>
  <%= render @user.posts %>
<% else %>
  <br>
  <%= @user.name %> has not submitted any posts yet.
  <br>
<% end %>

<% if user_has_comments? %> 
  <h2>Comments</h2>
  <%= render @user.comments %>
<% else %>
  <%= @user.name %> has not submitted any comments yet.
<% end %>

<% if @user.favorites.count > 0 %>
  <h2>Favorite Posts</h2>
  <div class="row">
    <% @user.favorites.each do |f| %>
      <%= render partial: 'users/favorites', locals: {post_id: f.post_id} %>
    <% end %>
  </div>
<% end %>